# Backend build artifacts

backend/er_sim
backend/src/*.o
backend/src/*.out
backend/src/*.a
backend/src/*.so

# MacOS binary
backend/src/*.dSYM/
*.dSYM/

# Backend output files

backend/output/appointments.json
backend/output/status.json
backend/output/log.txt

# symlinked into frontend:
frontend/appointments.json
frontend/status.json
frontend/log.txt

# OS / editor junk files

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Node / Web stuff

node_modules/
dist/
build/